/Avaliação_Final/Calculadora/nbproject/private/
/Avaliação_Final/Calculadora/build/
/Avaliação_Final/Ex2/build/
/Avaliação_Final/Ex2/nbproject/private/
/Avaliação_Final/CalculadoraIMC/build/
/Avaliação_Final/CalculadoraIMC/nbproject/private/
